@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Exo 2", sans-serif;
}
/* tailwind utils  */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* font family  */

.primary {
  color: rgb(17, 17, 17);
}
.secondary {
  color: rgba(17, 17, 17, 0.6);
}
.third {
  color: #6047ec;
}
